{% extends 'base.html' %}
{% block title %}
  Option
{% endblock %}

{% block content %}
<hr xmlns="http://www.w3.org/1999/html">
      <body class="text-center">
    <div class="container">
        <form method="POST" style="color:white">
            <br>
            <br>
            <ul id="logo">
             <li ><img src="http://2013.igem.org/wiki/images/5/55/Hkust_logo.gif" width="auto" height="180" align="left"/></li>
                <br><br>
              <li><h1 class="display-4 font-weight-normal" align="center">&ensp;KR</h1></li>
              <li><h2 class="display-4 font-weight-normal" align="center">&ensp;University</h2></li>
            </ul>
            <br><br><br><br><br><br><br><br><br><br>
            <h1 class="h3 mb-3 font-weight-normal" align="center" style="color:#e6ac00;">Select Role</h1>
            <br>
            <p>
                <input type="radio" name="options" id="option1" value="student" align="center">&nbsp;Student</input>
            <br><br>
                <input type="radio" name="options" id="option2" value="admin" align="center">&nbsp;Administrator</input>
            <br></p>
            <br><br>
                <input type="submit" value="Submit">
            <br><br><br><br>
        </form>
    </div>
</body>
<style>
    #logo {
        list-style:none;
        width:150px;
        height:50px;
        margin:0px 350px;
        padding:0;
        white-space:nowrap;
    }
    p {
        font-size: 20px;
        color: #e6ac00;
    }

</style>
{% endblock %}